﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="room_mgm.aspx.cs" Inherits="duedu.room_mgm" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="row">
        <div class="col-md-12 col-lg-12"></div>
        <div class="col-md-12 col-lg-12">
            <p style="font-size: 25px; line-height: 1.5;">
                Room Management
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-8 col-lg-8" style="padding-bottom: 10px;">
                    <asp:DropDownList ID="ddlgrade" Class="btn btn-primary dropdown-toggle" AutoPostBack="true" OnSelectedIndexChanged="ddlgrade_SelectedIndexChanged" Width="100%" runat="server"></asp:DropDownList>
                </div>
                <div class="col-md-4 col-lg-4" style="padding-bottom: 10px;">
                    <asp:Button ID="btnsearch" runat="server" Text="Search" OnClick="btnsearch_Click" ForeColor="Black" class="btn btn-info" Width="114px" />
                    <asp:Button ID="btnadd" runat="server" Text="Add" OnClick="btnadd_Click" ForeColor="Black" class="btn btn-warning" Width="114px" />
                    <asp:Button ID="btnback" runat="server" Text="Back" OnClick="btnback_Click" ForeColor="Black" class="btn btn-success" Width="114px" />
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="school-table">
                <div style="margin: 20px 0px; overflow: scroll">

                    <asp:GridView ID="GridView_List" runat="server" AutoGenerateColumns="false" AllowPaging="true"
                        OnPageIndexChanging="GridView_List_PageIndexChanging" UseAccessibleHeader="true" OnRowDataBound="GridView_List_RowDataBound"
                        ShowFooter="false" PageSize="50" class="table mt-3" BackColor="White" BorderColor="#FF6600">
                        <Columns>

                            <asp:BoundField DataField="schoolname" HeaderText="ชื่อโรงเรียน" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Left" ItemStyle-Width="30%"  HeaderStyle-BackColor="#ffd1b3">
                                <HeaderStyle HorizontalAlign="center" CssClass="text-center" />   
                            </asp:BoundField> 

                            <asp:BoundField DataField="grade" HeaderText="ชั้น (ม.)" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center" ItemStyle-Width="8%"  HeaderStyle-BackColor="#ffd1b3">
                                <HeaderStyle HorizontalAlign="center" CssClass="text-center" />   
                            </asp:BoundField>

                            <asp:BoundField DataField="sub_room" HeaderText="ห้อง" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center" ItemStyle-Width="8%"  HeaderStyle-BackColor="#ffd1b3">
                                <HeaderStyle HorizontalAlign="center" CssClass="text-center" />   
                            </asp:BoundField>

                            <asp:BoundField DataField="advisor_name" HeaderText="อาจารย์ที่ปรึกษา" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Left" ItemStyle-Width="30%"  HeaderStyle-BackColor="#ffd1b3">
                                <HeaderStyle HorizontalAlign="center" CssClass="text-center" />   
                            </asp:BoundField>

                            <asp:TemplateField HeaderText="จัดการนักเรียน" HeaderStyle-BackColor="#ffd1b3">
                                <ItemTemplate>
                                    <asp:Button ID="btnstudent_mapp" runat="server" Text="รายชื่อนักเรียน" OnClick="btnstudent_mapp_Click" CssClass="btn btn-success btn-block" />
                                </ItemTemplate>
                                <HeaderStyle HorizontalAlign="center" CssClass="text-center" /> 
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Edit" HeaderStyle-BackColor="#ffd1b3">
                                <ItemTemplate>
                                    <asp:HiddenField ID="hddadvisor_name" runat="server" Value='<%# Eval("advisor_name") %>' />
                                    <asp:HiddenField ID="hddsub_room" runat="server" Value='<%# Eval("sub_room") %>' />
                                    <asp:HiddenField ID="hddgrade" runat="server" Value='<%# Eval("grade") %>' />
                                    <asp:HiddenField ID="hddroomid" runat="server" Value='<%# Eval("roomid") %>' />
                                    <asp:Button ID="btnedit" runat="server" Text="แก้ไข" OnClick="btnedit_Click" CssClass="btn btn-warning btn-block" />
                                </ItemTemplate>
                                <HeaderStyle HorizontalAlign="center" CssClass="text-center" /> 
                            </asp:TemplateField>

                        </Columns>
                    </asp:GridView>

                </div>

            </div>
        </div>
    </div>


</asp:Content>
