﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site2.master.cs" Inherits="duedu.Site2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Do Education</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="orange" data-image="Pic/OB82E20.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text">Do Education 
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="te_course_list.aspx">
                            <i class="pe-7s-culture"></i>
                            <p>ห้องที่สอน</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-culture"></i>
                            <p>ห้องที่ปรึกษา</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-culture"></i>
                            <p>รายการรายบ้าน</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-culture"></i>
                            <p>สูตร/กริยาสามช่อง</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-culture"></i>
                            <p>ข่าวสารโรงเรียน</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-culture"></i>
                            <p>SMS</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-culture"></i>
                            <p>รายการข้อสอบ</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-culture"></i>
                            <p>รายงาน</p>
                        </a>
                    </li>
                    <%-- <li>
                    <a href="">
                        <i class="pe-7s-news-paper"></i>
                        <p>จัดการข่าวสาร</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-users"></i>
                        <p>จัดการข้อมูลผู้ใช้งาน</p>
                    </a>
                </li>--%>
                </ul>

            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <asp:Label ID="lbschoolname" runat="server" Text="-"></asp:Label></a>
                    </div>
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        <asp:Label ID="lbusername" runat="server" Text="-"></asp:Label>
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="logout.aspx">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <form id="form1" runat="server">

                            <asp:ScriptManager ID="ScriptManager1" EnableScriptGlobalization="True" EnableScriptLocalization="True" runat="server"></asp:ScriptManager>
                            <div>
                                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                </asp:ContentPlaceHolder>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <%--<footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>--%>
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

</html>
